@model OnlineMovieTicket.Entity.AccountData

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <body class="wrapper">
        <div class="login-box-outer">
            <div>
                <h1>Sign in</h1>
                <form>
                    <div class="input-wrap">
                        @Html.Label("Username")
                        @Html.TextBoxFor(Model => Model.Name, htmlAttributes: new { @placeholder = "Email or Phone number" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-wrap">
                        @Html.Label("Password")
                        @Html.PasswordFor(Model => Model.Password, htmlAttributes: new { @placeholder = "Password" ,  @minlength="8", @maxlength="16"})
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-wrap">
                        <button type="submit">Login</button>
                    </div>
                    <div class="input-wrap">
                        <b>Don't have an account?</b>
                        @Html.ActionLink("Signup","Signup", "Account",null,new { @cass = "signup-link" })
                    </div>
                </form>
            </div>
        </div>
    </body>
}

