@model OnlineMovieTicket.Models.SignupViewModel
@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <body class="wrapper">
        <div class="signup-box-outer">
            <div class="signup-box-inner">
                <h1>Registration</h1>
            </div>
            <form>
                <div class="input-wrap">
                    @Html.Label("Name")
                    @Html.TextBoxFor(Model => Model.Name, htmlAttributes: new { @class = "signup-box-outer-input", @placeholder = "Name" })
                    <span>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</span>
                </div>

                <div>
                    <b>Gender</b><br />
                    <span> Male </span> @Html.RadioButton("Gender", "Male", false, new { @class = "radio-button" })
                    <span> Female </span> @Html.RadioButton("Gender", "Female", false, new { @class = "radio-button" })
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>

                <div class="input-wrap">
                    <b>Password:</b>
                    @Html.PasswordFor(Model => Model.Password, htmlAttributes: new { @class = "signup-box-outer-input", @placeholder = "Pasword", @minlength = "8", @maxlength = "16" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="input-wrap">
                    <b>Email</b>
                    @Html.TextBoxFor(Model => Model.Email, htmlAttributes: new { @class = "signup-box-outer-input", @placeholder = "Email" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="input-wrap">
                    <b>Phone</b>
                    @Html.TextBoxFor(Model => Model.Phone, htmlAttributes: new { @class = "signup-box-outer-input", @maxlength = "10", @placeholder = "Phone" })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
                <br />
                <div class="input-wrap-signup">
                    <button type="submit">Signup</button>
                </div>
            </form>
        </div>
    </body>

}