@model OnlineMovieTicket.Entity.Movie


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2></h2>

@using (Html.BeginForm("Create", "Movie", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                Movie Name :
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.MovieName)
                @Html.ValidationMessageFor(model => model.MovieName, "", new { @class = "text-danger" })
            </td>

        </tr>
        <tr>
            <td>
                Movie Id :
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.MovieId)
                @Html.ValidationMessageFor(model => model.MovieId, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                Show Time:
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.ShowTime)
                @Html.ValidationMessageFor(model => model.ShowTime, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                Price :
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Price)
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Create" />
            </td>
            <td>
                <a href="~/Movie/Index">Back</a>
            </td>
        </tr>
    </table>
    @section Scripts{
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
    }
}