@model OnlineMovieTicket.Entity.Movie


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2></h2>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
@*<script>
    $('.timepicker').timepicker({
    timeFormat: 'h:mm p',
    interval: 30,
    minTime: '10',
    maxTime: '6:00pm',
    defaultTime: '11',
    startTime: '10:00',
    dynamic: false,
    dropdown: true,
    scrollbar: true
});
</script>*@

@using (Html.BeginForm("CreateMovie", "Movie", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                Movie Name :
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.MovieName)
            </td>
            <td style="color:red">
                @Html.ValidationMessageFor(model => model.MovieName)
            </td>

        </tr>

        <tr>
            <td>
                Show Time Morning:
            </td>
            <td>

                @Html.EditorFor(Model => Model.ShowTimeMorning)
            </td>
            <td style="color:red">
                @Html.ValidationMessageFor(model => model.ShowTimeMorning)
            </td>
        </tr>
        <tr>
            <td>
                Show Time Afternoon:
            </td>
            <td>
                @Html.EditorFor(Model => Model.ShowTimeAfternoon)
            </td>
            <td style="color:red">
                @Html.ValidationMessageFor(model => model.ShowTimeAfternoon)
            </td>
        <tr>
            <td>
                Show Time Evening:
            </td>
            <td>
                @Html.EditorFor(Model => Model.ShowTimeEvening)
            </td>
            <td style="color:red">
                @Html.ValidationMessageFor(model => model.ShowTimeEvening)
            </td>
        </tr>
        <tr>
            <td>
                Duration:
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Duration)
            </td>
            <td style="color:red">
                @Html.ValidationMessageFor(model => model.Duration)
            </td>
        </tr>
        <tr>
            <td>
                Price :
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Price)
            </td>
            <td style="color:red">
                @Html.ValidationMessageFor(model => model.Price)
            </td>
        </tr>
       <tr>
            
            <td>
                @Html.LabelFor(Model => Model.CategoryId)
            </td>
            <td style="color:red">
                @Html.DropDownListFor(Model => Model.CategoryId,ViewBag.categories as IEnumerable<SelectListItem>)
            </td>

        </tr>

        <tr>
            <td>
                <input type="submit" value="Create" />
            </td>
            <td>
                <a href="~/Movie/Index">Back</a>
            </td>
        </tr>
    </table>

}