@model OnlineMovieTicket.Entity.Movie


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2></h2>

@using (Html.BeginForm("Create", "Movie", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                Movie Name :
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.MovieName)</td>
            <td style="color:red">
                @Html.ValidationMessageFor(model => model.MovieName)
            </td>

        </tr>
        <tr>
            <td>
                Movie Id :
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.MovieId)
            </td>
            <td style="color:red">
                @Html.ValidationMessageFor(model => model.MovieId)
            </td>
        </tr>
        <tr>
            <td>
                Show Time:
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.ShowTime)
            </td>
            <td style="color:red">
                @Html.ValidationMessageFor(model => model.ShowTime)
            </td>
        </tr>
        <tr>
            <td>
                Price :
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Price)
            </td>
            <td style="color:red">
                @Html.ValidationMessageFor(model => model.Price)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Create" />
            </td>
            <td>
                <a href="~/Movie/Index">Back</a>
            </td>
        </tr>
    </table>
   
}