@model OnlineMovieTicket.Entity.Movie

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<h2>Edit</h2>

@using (Html.BeginForm("EditMovie", "Movie", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.MovieId);
    <table>
        <tr>
            <td>
                Movie Name:
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.MovieName)
            </td>
            <td style="color:red">
                @Html.ValidationMessageFor(model => model.MovieName)
            </td>
        </tr>


        <tr>
            <td>
                Show Time Morning:
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.ShowTimeMorning)
            </td>
            <td style="color:red">
                @Html.ValidationMessageFor(model => model.ShowTimeMorning)
            </td>
        </tr>
        <tr>
            <td>
                Show Time Afternoon:
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.ShowTimeAfternoon)
            </td>
            <td style="color:red">
                @Html.ValidationMessageFor(model => model.ShowTimeAfternoon)
            </td>
        <tr>
            <td>
                Show Time Evening:
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.ShowTimeEvening)
            </td>
            <td style="color:red">
                @Html.ValidationMessageFor(model => model.ShowTimeEvening)
            </td>
        </tr>
        <tr>
            <td>
                Duration:
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Duration)
            </td>
            <td style="color:red">
                @Html.ValidationMessageFor(model => model.Duration)
            </td>
        </tr>

        <tr>
            <td>
                Price :
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Price)
            </td>
            <td style="color:red">
                @Html.ValidationMessageFor(model => model.MovieName)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" />
            </td>
            <td>
                <a href="~/Movie/Index">Back</a>
            </td>
        </tr>
    </table>
}