<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Moviestyle.css" type="text/css" rel="stylesheet" />
    <title>@ViewBag.Title - Inox Cinemas</title>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
    <header class="master">
        <div>
            @Html.ActionLink("Home", "Index", "Movie", null, new { @class = "masterbtn" })
            @Html.ActionLink("AboutUs", "AboutUs", "Home", null, new { @class = "masterbtn" })


            @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
             {

                if (System.Web.HttpContext.Current.User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Add Movie", "CreateMovie", "Movie", null, new { @class = "masterbtn" })
                    @Html.ActionLink("Category", "CategoryDetails", "Category", null, new { @class = "masterbtn" })
                    @Html.ActionLink("Add Category", "AddCategory", "Category", null, new { @class = "masterbtn" })
                }
                <div class="master-right">
                    @Html.ActionLink("Logout", "LogOff", "Account", null, new { @class = "masterbtn" })
                </div>
             }

            else
            {
                <div class="master-right">
                    @Html.ActionLink("Login", "Login", "Account", null, new { @class = "masterbtn" })
                </div>
            }

        </div>
    </header>
    <br />
    <br />
    <br />
    <div>
        @RenderBody()
    </div>
    <footer></footer>
    @*<script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
</body>
</html>